<!-- Home -- > .title {
  color: #1162a5;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
}
body {
  margin: 50px;
  font-family: "Noto Serif", serif;
  font-size: 19px;
}

.img1 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
}

.progressiveera {
  display: flex;
  flex-direction: row;
  padding: 18px;
  margin: 50px;
  font-size: 17px;
}

.progessive {
  display: flex;
  font-size: 17px;
}

.img2 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
}

.nationalpark {
  display: flex;
  flex-direction: row;
  padding: 18px;
  margin: 50px;
  font-size: 17px;
}

.johnmuir {
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
}

.antiquities {
  font-size: 17px;
}
<!-- Nav bar -- > .navul {
  list-style-type: none;
  background-color: #6d326d;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.navbar {
  list-style-type: none;
  overflow: hidden;
  padding: 1px;
  background-color: ;
  border: black solid 1px;
}
.navclick {
  text-decoration: none;
  color: white;
  font-size: 1.3px;
  padding: 1px;
  background-color: #43d6b9;
  display: inline;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  padding: 1px;
}
.navclick:hover {
  background-color: #8c92ac;
}

<!-- Sources -- > .socolume {
  display: flex;
  flex-direction: column-reverse;
}
