.title {
  color: #1162a5;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
}
h2 {
  text-align: center;
}

h5 {
  text-align: left;
}
p {
  text-align: center;
}
body {
  margin: 50px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
}

.img1 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: flex-start;
}

.progressiveera {
  display: flex;
  justify-content: flex-end;
}

.progessive {
  display: flex;
}

.img2 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: flex-start;
}

.nationalpark {
  display:flex;
  flex-direction:row;
  padding:18px;
  margin:80px;
  font-size:25px;
}

.johnmuir {
  display: flex;
  justify-content: flex-start;
}

.navbar {
  list-style-type: none;
  overflow: hidden;
  padding: 1px;
  background-color: #003046;
}
.navclick {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 1.3px;
  padding: 1px;
  background-color: #43d6b9;
}
