.title {
  color: #1162a5;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
}
body {
  margin: 50px;
  font-family: "Noto Serif", serif;
  font-size: 23px;
}

.img1 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: flex-start;
}

.progressiveera {
  display: flex;
  justify-content: flex-end;
}

.progessive {
  display: flex;
}

.img2 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
}

.nationalpark {
  display:flex;
  flex-direction:row;
  padding:18px;
  margin:50px;
  font-size:23px;
}

.johnmuir {
  display: flex;
  justify-content: flex-start;
}

<!-- Nav bar -->
.navul {
  list-style-type: none;
  background-color: #6D326D;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.navbar {
  list-style-type: none;
  overflow: hidden;
  padding: 1px;
  background-color: white;
}
.navclick {
  text-decoration: none;
  color: white;
  font-size: 1.3px;
  padding: 1px;
  background-color: #43d6b9;
}
li {
  display: inline;
}
li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 1em;
}
li a:hover {
  background-color: #8C92AC;
}