.title {
  color: #1162a5;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
}
body {
  margin: 50px;
  font-family: "Noto Serif", serif;
  font-size: 19px;
}

.img1 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
}

.progressiveera {
  display: flex;
  flex-direction: row;
  padding: 18px;
  margin: 50px;
  font-size: 17px;
}

.progessive {
  display: flex;
  font-size: 17px;
}

.img2 {
  border: 5px hidden;
  padding: 5px;
  margin: 25px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
}

.nationalpark {
  display: flex;
  flex-direction: row;
  padding: 18px;
  margin: 50px;
  font-size: 17px;
}

.johnmuir {
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
}

.antiquities {
  font-size: 17px;
}

 
.navbar  {
  list-style-type: none;
  background-color: #003046;
  overflow: hidden;
  padding: 1px;
  border: solid black 1px;
}
.navclick {
  display: inline;
  font-size: 17px;
}
.navclick  .navlink {
  display: inline;
  text-decoration: none;
  color: Black;
  padding: 1px;
  border: black solid 2px;
}
.navclick .navlink:hover {
  background-color: #43D6B9;
}




.links {
  display: flex;
  flex-direction: column;
   list-style-type: none;
}
.sourceslink {
  display: block;
}
.slink {
  display: block;
  color: black;
}
.slink:hover {
  background-color: #43D6B9;
}


.ques  {
   list-style-type: none;
  text-align: center;
}